.leaflet-container {
  height: 100vh;
}
.title-bg {
  background-color: #113064;
}
.active {
  border: #6ca2ff solid 1px;
}
.my-bg1 {
  background-color: #f8fbff;
}

.my-bg2 {
  background-color: #fafafa;
}
.row.no-pad {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.row.no-pad > [class*="col-"] {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.myshad {
  border-radius: 5px;
}
